.metadata
.cache
bin/
.settings/
test-data/
target/
third_party_licenses/
.classpath
.project
dependency-reduced-pom.xml
.cache-main
.cache-tests
*.log
*.dl4j

en-pos-maxent.bin
en-sent.bin
langdetect-183.bin

